
.dail-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.dail-input{
  width: 20vw;
  height: 30px;
}


.dail-box{
  display: grid;
  grid-template-columns: auto auto auto;
  width: auto;
  gap: 5px;
  margin-top: 20px;
}
.key-wrapper{
  width: 80px;
  height: 40px;
  border: 1px solid rgb(187, 185, 185);
  text-align: center;
  border-radius: 5px;
}
.key-data{
  color: rgb(171, 168, 168);
}

.dail-btn{
  display: flex;
}

.dail-clear{
  width: 82px;
  height: 40px;
  background-color: rgb(180, 228, 212);
  border: 1px solid rgb(199, 196, 196);
  border-radius: 5px;
  cursor: pointer;
}
.dail-space{
  width: 82px;
  height: 40px;
  border: 1px solid rgb(187, 185, 185);
  text-align: center;
  border-radius: 5px;
}